.banner {
    top: 71px;
    position: relative;
    height: 180px;
}

.banner img {
    height: 100%;
    width: 100%;
}

.banner-text {
    position: absolute;
    height: 100px;
    font-size: 16px;
    border-top: 20px solid transparent;
    border-right: 40px solid red;
    border-bottom: 20px solid transparent;
    left: 100px;
}
