.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header img {
    height: 60px;
    width: 40px;
}


.header-left,
.header-middle,
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.header-left {
    padding-left: 167px;
}

.header-left .logo img {
    width: 96px;
    height: 50px;
}

.header-left .shop,
.header-left .face-captcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header-left .shop img,
.header-left .face-captcher img{
    width: 25px;
}

.shop p,
.face-captcher p {
    font-weight: 400;
    opacity: 0.8;
}

.shop p:hover,
.face-captcher p:hover {
    color: palevioletred;
}

.header-middle{
    height: 40px;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 14px 0;
}

.header-middle input {
    border: none;
    width: 300px;
    margin-left: 15px;
}

.header-middle input:focus {
    outline: none;
}

.header-middle input::placeholder {
    font-size: 15px;
    opacity: 0.4;
}

.header-middle img {
    width: 20px;
    margin-right: 10px;
}

.header-right {
    padding-right: 167px;
}

.header-right img{
    width: 25px;
    height: 25px;
}

.header-right-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-right-post {
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fd4c5d;
    background-color: #fd4c5d;
    border-radius: 5px;
    color: white;
    line-height: 33px;
    position: relative;
}

.header-right-post img {
    height: 25px;
}

.header-right-post p {
    font-size: 16px;
    font-weight: 100px;
    opacity: 0.9;
}

.header-right-post-tooltips {
    position: absolute;
    border: 1px solid lightgray;
    border-top: none;
    width: 90px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 2px;
    opacity: 0;
}

.header-right-post-tooltips div {
    margin: 15px 0;
    opacity: 0.7;
}

.header-right-post:hover {
    background-color: #f94052;
}

.header-right-posts {
    transition: opacity 1s;
}

.header-right-posts:hover 
.header-right-post-tooltips {
    opacity: 1;
}
