.header {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header img {
    height: 60px;
    width: 40px;
}


.header-left,
.header-middle,
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 20px;
}

.header-left {
    padding-left: 5%;
}

.header-left .logo img {
    width: 100%;
    transform: scale(0.8, 0.8);
}

.header-left .shop,
.header-left .face-captcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header-left .shop img,
.header-left .face-captcher img{
    width: 25px;
}

.shop p,
.face-captcher p {
    font-weight: 400;
    opacity: 0.8;
}

.shop p:hover,
.face-captcher p:hover {
    color: palevioletred;
}

.header-middle{
    height: 45px;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.header-middle input {
    border: none;
    width: 350px;
    margin-left: 15px;
}

.header-middle input:focus {
    outline: none;
}

.header-middle input::placeholder {
    font-size: 16px;
    width: 100%;
    opacity: 0.4;
}

.header-middle img {
    width: 20px;
    margin-right: 10px;
}

.header-right{
    padding-right: 5%;
    gap:0;
}

.header-right div {
    padding: 0 5px;
    min-width: 45px;
}

.header-right img{
    width: 30px;
    height: 30px;
}

.header-right-avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-right-create img{
    transition: transform 1s;
}

.header-right-create-tips {
    transition: opacity 1s bottom 5s;
}

.header-right-create-tips {
    position: absolute;
    margin:0;
    padding: 0;
    opacity: 0;
    bottom: -30px;
}

.header-right-create:hover
img {
    transform: scale(0.8, 0.8);
}


.header-right-create:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-right-create:hover
.header-right-create-tips {
    opacity: 1;
    bottom: 10px;
}


.header-right-post {
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fd4c5d;
    background-color: #fd4c5d;
    border-radius: 5px;
    color: white;
    line-height: 33px;
    position: relative;
}

.header-right-post img {
    height: 25px;
}

.header-right-post p {
    font-size: 16px;
    font-weight: 100px;
    opacity: 0.9;
}

.header-right-post-tooltips {
    position: absolute;
    border: 1px solid lightgray;
    border-top: none;
    width: 90px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 2px;
    opacity: 0;
}

.header-right-post-tooltips div {
    margin: 15px 0;
    opacity: 0.7;
}

.header-right-post:hover {
    background-color: #f94052;
}

.header-right-posts {
    transition: opacity 1s;
}

.header-right-posts:hover 
.header-right-post-tooltips {
    opacity: 1;
}


.header-right-post-tooltips div:hover {
    color: #fd4c5d;
    font-weight: bold;
}

