.header {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header img {
    height: 60px;
    width: 40px;
}


.header-left,
.header-middle,
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 20px;
    text-align: center;
}


.header-left {
    padding-left: 5%;
}

.header-left .logo img {
    width: 100%;
    transform: scale(0.6, 0.6);
}

.header-left .shop,
.header-left .face-captcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.header-left .shop img,
.header-left .face-captcher img{
    width: 25px;
}

.shop p,
.face-captcher p {
    font-weight: 400;
    opacity: 0.8;
}

.shop p:hover,
.face-captcher p:hover {
    color: palevioletred;
}

.header-middle{
    height: 45px;
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.header-middle input {
    border: none;
    width: 350px;
    margin-left: 15px;
}

.header-middle input:focus {
    outline: none;
}

.header-middle input::placeholder {
    font-size: 16px;
    width: 100%;
    opacity: 0.4;
}

.header-middle img {
    width: 20px;
    margin-right: 10px;
}

.header-right{
    padding-right: 5%;
    gap: 0;
    column-gap:10px;
}

.header-right div {
    min-width: 45px;
}

.header-right img{
    width: 25px;
    height: 25px;
}

.header-right-avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-right-qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-right-qr img:first-child {
    position: relative;
}

.header-right-qr img:last-child{
    position: absolute;
    bottom: -230px;
    width: 180px;
    height: 200px;
    z-index: 101;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
    transform: scale(1.1, 1.1);
    vertical-align: top;
    display: none;
}

.header-right-qr:hover 
.header-right-qrcode{
    display: inline-block;
}

.header-right-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-user{
    position: absolute;
    flex-direction: column;
    width: 250px;
    border: 1px solid lightgray;
    gap: 5px;
    background-color: #f8f8f8;
    font-weight: 300;
    bottom:-130px;
    display: none;
    border-radius: 5px;
}

.header-right-user-info,
.header-right-user-charge{
    padding-left: 15px;
    padding-right: 15px;
}

.header-right-user-info,
.header-right-user-charge{
    display: flex;
    justify-content: space-between;
    margin: 15px 5px 0 5px;
}

.header-right-user-info img,
.header-right-user-charge img{
    width: 20px;
    height: 20px;
    float: left;
}

.header-right-user-info p ,
.header-right-user-charge p{
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    margin-left: 1px;
}

.header-right-user-charge div:last-child {
    text-align: right;
}

.header-right-user-more {
    width: 100%;
    min-height: 45px;
    margin: 0;
    padding: 0;
    line-height: 45px;
}

.header-right-user-more:hover {
    background-color: lightgray;
}

.header-right-avatar:hover .header-right-user {
    display: inherit;
}

.header-right-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header-right-message-tips {
    position: absolute;
    display: none;
    bottom: -10px;
}

.header-right-message:hover 
.header-right-message-tips{
    color: #f94052;
    display: inline;
    animation: 1s slide-message-up;
    bottom: 5px;
}

@keyframes slide-message-up {
    from {
        display: none;
        bottom: -10px;
    }
    to {
        display: inline;
        bottom: 5px;
    }
}

.header-right-message:hover
img{
    animation: 1s scale-message-img;
    transform: scale(0.8, 0.8);
    padding-bottom:20px;
}

@keyframes scale-message-img {
    from {
        padding-bottom: 0;
        transform: scale(1,1);
    }
    to {
        padding-bottom:20px;
        transform: scale(0.8,0.8);
    }
}

.header-right-message-tooltips {
    position: fixed;
    top: 55px;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: left;
    background-color: #f8f8f8;
    display: none;
}

.header-right-message-tooltips span {
    padding: 0 4px;
    margin-left: 10px;
}

.header-right-message-tooltips span:hover {
    color: #f94052;
}

.header-right-message-tooltips span:first-child {
    margin-top: 10px;
}

.header-right-message-tooltips span:last-child {
    margin-bottom: 10px;
}

.header-right-message:hover .header-right-message-tooltips {
    display: flex;
}

.header-right-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-history-tips {
    position: absolute;
    display: none;
}

.header-right-history:hover 
.header-right-history-tips {
    display: inline;
    color: #f94052;
    animation: 1s slide-message-up;
    bottom: 5px;
}

.header-right-history:hover 
.header-right-history-list{
    display:inline;
}

.header-right-history:hover 
.header-history-show-more {
    display: inline;
}

.header-right-history:hover #history-icon {
    animation: 1s scale-message-img;
    transform: scale(0.8, 0.8);
    padding-bottom: 20px;
}

.header-right-history-list {
    position: absolute;
    border: 1px solid lightgray;
    border-top: none;
    background-color: #f8f8f8;
    border-radius: 5px;
    top: 40px;
    flex-direction: row;
    gap: 10px;
    min-height: 158px;
    max-height: 452px;
    overflow: auto;
    display: none;
}

.history-today {
    margin-top: 15px;
}

.history-yesterday {
    margin-bottom: 55px;
}


.history-today,
.history-yesterday {
    margin-left: 10px;
}

.history-today-title,
.history-yesterday-title {
    width: 100%;
    text-align: left;
    color: gray;
    font-weight: 300;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.history-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
}

.history-content-img {
    width: 96px;
    height: 54px;
}

.history-content-img img {
    width: 96px;
    height: 54px;
    border-radius: 5px;
}

.history-content-detail {
    display: flex;
    flex-direction: column;
    height: 54px;
    flex: 1;
    margin-left: 3px;
}

.history-content-detail-title {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    line-height: 18px;
    max-height: 36px;
    white-space: pre-wrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left:3px;
    margin: 0;
    margin-bottom: 5px;
}

.history-content-detail-title:hover {
    color: #f94052;
}

.history-content-detail-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    max-height: 9px;
    gap: 2px;
}

.icon-mobile {
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 4px;
    background-image: url(../icon/icon_mobile.svg);
}

.icon-pc {
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 4px;
    background-image: url(../icon/icon_computer.svg);
}

.history-content-detail-view p:last-child::before {
    content: ":";
    margin: 0 3px;
}

.header-history-show-more {
    width: 373px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: -447px;
    z-index: 111;
    background-color: #f8f8f8;
    border-bottom: none;
    display: none;
}

.header-history-show-more:hover {
    background-color: lightgray;
}

.header-right-update {
    position: relative;
}

.header-right-update:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-update-tips {
    position: absolute;
    display: none;
}

.header-right-update:hover 
.header-right-update-tips {
    display: inline;
    color: #f94052;
    animation: 1s slide-message-up;
    bottom: 5px;
}

.header-right-update:hover img {
    animation: 1s scale-message-img;
    transform: scale(0.8, 0.8);
    padding-bottom: 20px;
}

.header-right-update-list  {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    width: 340px;
}

.list-update-content {
    display: flex;
    flex-direction: column;
}

.header-right-create {
    text-align: center;
    overflow-y: hidden;
}

.header-right-create-tips {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
    margin:0;
    padding: 0;
    display: none;
    /* bottom: -10px; */
}

.header-right-create:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 3s;
}

.header-right-create:hover
img {
    animation: 1s scale-create;
    transform: scale(0.8, 0.8);
    padding-bottom: 20px;
}

@keyframes scale-create {
    from {
        padding-bottom: 0px;
        transform: scale(1,1);
    }
    to {
        padding-bottom: 20px;
        transiform: scale(0.8, 0.8);
    }
}

.header-right-create:hover
.header-right-create-tips {
    color: #f94052;
    animation: 1s slide-up;
    display: inline;
    bottom: 5px;
}

@keyframes slide-up {
    from {
        display: none;
        bottom: -10px;
    }
    to {
        display: inline-block;
        bottom: 5px;
    }
}

.header-right-create:hover 
.header-right-create-tooltips{
    opacity: 1;
}

.header-right-create-tooltips {
    position: absolute;
    background-color: white;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    top: 50px;
    opacity: 0;
    gap: 20px;
}

.header-right-create-tooltips p {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
}

.header-right-create-tooltips p:first-child {
    margin-top: 20px;
}

.header-right-create-tooltips p:last-child {
    margin-bottom: 20px;
}

.header-right-create-tooltips p:hover {
    color: #f94052;
}


.header-right-post {
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fd4c5d;
    background-color: #fd4c5d;
    border-radius: 5px;
    color: white;
    line-height: 33px;
    position: relative;
}

.header-right-post img {
    height: 25px;
}

.header-right-post p {
    font-size: 16px;
    font-weight: 100px;
    opacity: 0.9;
}

.header-right-post-tooltips {
    position: absolute;
    border: 1px solid lightgray;
    border-top: none;
    width: 90px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 2px;
    opacity: 0;
}

.header-right-post-tooltips div {
    margin: 15px 0;
    opacity: 0.7;
}

.header-right-post:hover {
    background-color: #f94052;
}

.header-right-posts {
    transition: opacity 1s;
}

.header-right-posts:hover 
.header-right-post-tooltips {
    opacity: 1;
}

.header-right-post-tooltips p:hover {
    color: #fd4c5d;
    font-weight: bold;
}

