
.header {
    width: 100%;
    height: 56px;
    left: 0;
    position: fixed;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.tooltips {
    position: absolute;
    background-color: rgb(149 144 144);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s;
    font-size: 12px;
    z-index: 101;
    bottom: -40px;
    border-radius: 3px;
}

.header img {
    width: 25px;
}

.header-left,
.header-logo,
.header-middle,
.header-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.header-left {
    justify-content: left;
    padding-left: 16px;
    width: 56px;
}

.header-left-logo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.header-left img {
    width: 29px;
    padding-left:5px;
}
.header-left p {
    padding-left:3px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.header-middle-search,
.header-middle-mic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-middle input {
    height: 35px;
    width: 70%;
    border-style:solid;
    border-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    flex-basis: 70%;
}

.header-middle input:focus {
    outline: none !important;
    border:2px solid skyblue;
}

.header-middle input::placeholder {
    padding-left: 5px;
    font-size: 16px;
}

.header-middle-search {
    border: 1px solid lightgray;
    height: 35px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;;
}

.header-middle img {
    width: 25px;
}

.header-middle-search-tooltips {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -45px;
    line-height: 30px;
}

.header-middle-search:hover
.header-middle-search-tooltips {
    opacity: 1;
}

.header-middle-mic {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    position: relative;
}

.header-middle-mic-tooltips {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: -45px;
    line-height: 30px;
}

.header-middle-mic:hover
.header-middle-mic-tooltips {
    opacity: 1;
}

.header-right {
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
    vertical-align: middle;
}

.header-right-video,
.header-right-apps,
.header-right-notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right div img {
    padding: 15px;
    width: 25px;
}

.header-right-video-tooltips {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.header-right-video:hover
.header-right-video-tooltips {
    opacity: 1;
}

.header-right-apps:hover 
.header-right-apps-tooltips {
    opacity: 1;
}

.header-right-apps-tooltips {
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
    bottom: -50px;
    font-size: 12px;
}


.header-right-notification {
    position: relative;
}

.header-right-notification-number {
    position: absolute;
    background-color: black;
    color: white;
    top: 15px;
    right: 8px;
    font-size: 10px;
    width: 20px;
    height: 15px;
    background-color: rgb(173, 8, 8);
    border-radius: 10px;
    text-align: center;
}

.header-right-notification-tooltip {
    font-size: 13px;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.header-right-notification:hover 
.header-right-notification-tooltip {
    opacity: 1;
}

.header-right div:last-child img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
