.left-side {
    position: fixed;
    width: 72px;
    top: 56px;
    left: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px 0 14px;
    justify-content: top;
    align-items: center;
    gap: 25px;
    border-right: 1px solid lightgray;
    outline: 0;
}

.left-side img {
    align-items: ;
    width: 25px;
}

.left-side p {
    font-size: 12px;
}

.left-side div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-side div:first-child {
    margin-top: 5px;
}
